[buildout]                                                                      
develop = .
parts = test
find-links = http://pypi.dolmen-project.org/find-links

[test]
recipe = zc.recipe.egg
initialization =
    import sys
    if not sys.argv[1:]: sys.argv.append('src')
eggs =
    uvc.interaction [test] 
    pytest
